{% extends 'base.html' %}
{% block title %}
<title>المعزي</title>
{% endblock title %}


{% block  main %}
    {% block main1%}
    <div id="hbible" class="float-right text-right">
        <legend>أنجيل اليوم</legend>
        <p>
            "1 فِي الْبَدْءِ كَانَ الْكَلِمَةُ، وَالْكَلِمَةُ كَانَ عِنْدَ اللهِ، وَكَانَ الْكَلِمَةُ اللهَ.
            2 هذَا كَانَ فِي الْبَدْءِ عِنْدَ اللهِ.
            3 كُلُّ شَيْءٍ بِهِ كَانَ، وَبِغَيْرِهِ لَمْ يَكُنْ شَيْءٌ مِمَّا كَانَ.
            4 فِيهِ كَانَتِ الْحَيَاةُ، وَالْحَيَاةُ كَانَتْ نُورَ النَّاسِ،
            5 وَالنُّورُ يُضِيءُ فِي الظُّلْمَةِ، وَالظُّلْمَةُ لَمْ تُدْرِكْهُ.
            6 كَانَ إِنْسَانٌ مُرْسَلٌ مِنَ اللهِ اسْمُهُ يُوحَنَّا.
            7 هذَا جَاءَ لِلشَّهَادَةِ لِيَشْهَدَ لِلنُّورِ، لِكَيْ يُؤْمِنَ الْكُلُّ بِوَاسِطَتِهِ.
            8 لَمْ يَكُنْ هُوَ النُّورَ، بَلْ لِيَشْهَدَ لِلنُّورِ.
            9 كَانَ النُّورُ الْحَقِيقِيُّ الَّذِي يُنِيرُ كُلَّ إِنْسَانٍ آتِيًا إِلَى الْعَالَمِ.
            10 كَانَ فِي الْعَالَمِ، وَكُوِّنَ الْعَالَمُ بِهِ، وَلَمْ يَعْرِفْهُ الْعَالَمُ.
            11 إِلَى خَاصَّتِهِ جَاءَ، وَخَاصَّتُهُ لَمْ تَقْبَلْهُ.
            12 وَأَمَّا كُلُّ الَّذِينَ قَبِلُوهُ فَأَعْطَاهُمْ سُلْطَانًا أَنْ يَصِيرُوا أَوْلاَدَ اللهِ، أَيِ الْمُؤْمِنُونَ بِاسْمِهِ.
            13 اَلَّذِينَ وُلِدُوا لَيْسَ مِنْ دَمٍ، وَلاَ مِنْ مَشِيئَةِ جَسَدٍ، وَلاَ مِنْ مَشِيئَةِ رَجُل، بَلْ مِنَ اللهِ.
            14 وَالْكَلِمَةُ صَارَ جَسَدًا وَحَلَّ بَيْنَنَا، وَرَأَيْنَا مَجْدَهُ، مَجْدًا كَمَا لِوَحِيدٍ مِنَ الآبِ، مَمْلُوءًا نِعْمَةً وَحَقًّا.
            15 يُوحَنَّا شَهِدَ لَهُ وَنَادَى قِائِلًا: «هذَا هُوَ الَّذِي قُلْتُ عَنْهُ: إِنَّ الَّذِي يَأْتِي بَعْدِي صَارَ قُدَّامِي، لأَنَّهُ كَانَ قَبْلِي».
            16 وَمِنْ مِلْئِهِ نَحْنُ جَمِيعًا أَخَذْنَا، وَنِعْمَةً فَوْقَ نِعْمَةٍ.
            17 لأَنَّ النَّامُوسَ بِمُوسَى أُعْطِيَ، أَمَّا النِّعْمَةُ وَالْحَقُّ فَبِيَسُوعَ الْمَسِيحِ صَارَا.
            18 اَللهُ لَمْ يَرَهُ أَحَدٌ قَطُّ. اَلابْنُ الْوَحِيدُ الَّذِي هُوَ فِي حِضْنِ الآبِ هُوَ خَبَّرَ."
        </p>
        <small>
            (يوحنا 1: 1-18)
        </small>
    </div>
    <div  id="hsaint" class="float-right text-right">
    	<legend>قديس اليوم</legend>
    	<p>
    		القديس باييسيوس الآثوسي
    	</p>
    </div>
{% endblock main1 %}
{% block  main2 %}
    <div id="hletter" class="float-right text-right">
        <legend>رسالة اليوم</legend>
        <p>
            "1 إِنْ كُنْتُ أَتَكَلَّمُ بِأَلْسِنَةِ النَّاسِ وَالْمَلاَئِكَةِ وَلكِنْ لَيْسَ لِي مَحَبَّةٌ، فَقَدْ صِرْتُ نُحَاسًا يَطِنُّ أَوْ صَنْجًا يَرِنُّ.
			2 وَإِنْ كَانَتْ لِي نُبُوَّةٌ، وَأَعْلَمُ جَمِيعَ الأَسْرَارِ وَكُلَّ عِلْمٍ، وَإِنْ كَانَ لِي كُلُّ الإِيمَانِ حَتَّى أَنْقُلَ الْجِبَالَ، وَلكِنْ لَيْسَ لِي مَحَبَّةٌ، فَلَسْتُ شَيْئًا.
			3 وَإِنْ أَطْعَمْتُ كُلَّ أَمْوَالِي، وَإِنْ سَلَّمْتُ جَسَدِي حَتَّى أَحْتَرِقَ، وَلكِنْ لَيْسَ لِي مَحَبَّةٌ، فَلاَ أَنْتَفِعُ شَيْئًا.
			4 الْمَحَبَّةُ تَتَأَنَّى وَتَرْفُقُ. الْمَحَبَّةُ لاَ تَحْسِدُ. الْمَحَبَّةُ لاَ تَتَفَاخَرُ، وَلاَ تَنْتَفِخُ،
			5 وَلاَ تُقَبِّحُ، وَلاَ تَطْلُبُ مَا لِنَفْسِهَا، وَلاَ تَحْتَدُّ، وَلاَ تَظُنُّ السُّوءَ،
			6 وَلاَ تَفْرَحُ بِالإِثْمِ بَلْ تَفْرَحُ بِالْحَقِّ،
			7 وَتَحْتَمِلُ كُلَّ شَيْءٍ، وَتُصَدِّقُ كُلَّ شَيْءٍ، وَتَرْجُو كُلَّ شَيْءٍ، وَتَصْبِرُ عَلَى كُلِّ شَيْءٍ.
			8 اَلْمَحَبَّةُ لاَ تَسْقُطُ أَبَدًا. وَأَمَّا النُّبُوَّاتُ فَسَتُبْطَلُ، وَالأَلْسِنَةُ فَسَتَنْتَهِي، وَالْعِلْمُ فَسَيُبْطَلُ.
			9 لأَنَّنَا نَعْلَمُ بَعْضَ الْعِلْمِ وَنَتَنَبَّأُ بَعْضَ التَّنَبُّؤِ.
			10 وَلكِنْ مَتَى جَاءَ الْكَامِلُ فَحِينَئِذٍ يُبْطَلُ مَا هُوَ بَعْضٌ.
			11 لَمَّا كُنْتُ طِفْلًا كَطِفْل كُنْتُ أَتَكَلَّمُ، وَكَطِفْل كُنْتُ أَفْطَنُ، وَكَطِفْل كُنْتُ أَفْتَكِرُ. وَلكِنْ لَمَّا صِرْتُ رَجُلًا أَبْطَلْتُ مَا لِلطِّفْلِ.
			12 فَإِنَّنَا نَنْظُرُ الآنَ فِي مِرْآةٍ، فِي لُغْزٍ، لكِنْ حِينَئِذٍ وَجْهًا لِوَجْهٍ. الآنَ أَعْرِفُ بَعْضَ الْمَعْرِفَةِ، لكِنْ حِينَئِذٍ سَأَعْرِفُ كَمَا عُرِفْتُ.
			13 أَمَّا الآنَ فَيَثْبُتُ: الإِيمَانُ وَالرَّجَاءُ وَالْمَحَبَّةُ، هذِهِ الثَّلاَثَةُ وَلكِنَّ أَعْظَمَهُنَّ الْمَحَبَّةُ."
        </p>
        <small>
            (1كو 13: 1-13)
        </small>
    </div>
{% endblock main2 %}
{% endblock main %}
