{% extends 'base.html' %}
{% load static %}
{%  block title %}
<title>الكتاب المقدس</title>
{%  endblock title %}
{%  block main %}
    {% if messages %}
            <center>
              <div class="col-lg-4 my-3 my-lg-0">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    <small>{{ message }}</small>
                  </div>
                {% endfor %}
              </div>
            </center>
            {% endif %}
            <form method="POST" action="">
            {% csrf_token %}
            <legend>البحث عن لآية</legend>
            <fieldset>
                <input type="text" name="book" id="book" placeholder="السفر">
                <input type="text" name="chapter" id="chapter" placeholder="الإصحاح">
                <input type="text" name="verse" id="verse" placeholder="الآية">
            </fieldset>
                <button type="submit" class="btn btn-info">بحث</button>
            </form>
            <p dir="rtl" >
            {% if texts %}
                {% for t in texts %}
                    {{t}}
                {% endfor %}
            {% else %}
                {{text}}
            {% endif %}

              ({{ code }} {{chap}}: {% if ver %}
                                        {{ver}})
                                    {% elif ver1 %}
                                        {{ver1}}-{{ver2}})
                                    {% endif %}

            </p>
{%  endblock main %}
